<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>924370593638-emeu0oq7s3ug1g5e99nr8vlsvs8v8uku.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.924370593638-emeu0oq7s3ug1g5e99nr8vlsvs8v8uku</string>
	<key>API_KEY</key>
	<string>AIzaSyAw6RnSSyupJOlA5ACnXCmW93UsSISsGLU</string>
	<key>GCM_SENDER_ID</key>
	<string>924370593638</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>laddyvia.Revive</string>
	<key>PROJECT_ID</key>
	<string>revive-7c6b2</string>
	<key>STORAGE_BUCKET</key>
	<string>revive-7c6b2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:924370593638:ios:cac47b10544fad09</string>
	<key>DATABASE_URL</key>
	<string>https://revive-7c6b2.firebaseio.com</string>
</dict>
</plist>